.navigationContainer{
    background-color: rgb(226, 226, 226);
    width: 95% ;
    max-width: 1000px;
    margin:3% auto 10px;
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgb(0,0,0,0.2);
}
.backButton {
    font-size: 25px;
    height: 100%;
    width: 45px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeIcon{
    margin-bottom: 4px;
}
.backButton:hover{
    background-color: rgb(117, 116, 116);
    color: rgb(234, 230, 230);
}
.fileRoutes{
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}
.fileRoutes p{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding:0 10px;
}
.fileRoutes p:hover{
    background-color: rgb(117, 116, 116);
    color: rgb(234, 230, 230);
}
.viewIcon{
    margin-left: auto;
    cursor: pointer;
}
.gridIcon{
    font-size: 1.3rem;
}
